<%- include("partials/header") -%>
<section id="list">
  <div class="container-fluid">
    <h2><%=bookname%> Rs. <%=sellp%></h2>
    <p>
      Seller Name: <%=name%><br />
      Book Details: <%=bookdetails%> <br>
      Seller Details: <%=contact%><br>
    </p>


  </div>
</section>
<%- include("partials/footer") -%>
