<%- include("partials/header") -%>

<section id="pricing" class="container-fluid">
  <h2>Books</h2>
  <div class="row">
      <%newBookItems.forEach(function(book){%>
    <div class="pricing-column col-lg-4 col-md-6">
      <div class="card ">
        <div class="card-header">
          <h3><%=book.bookname%></h3>
        </div>
        <div class="card-body">
          <h2>Rs. <%=book.sellp%> </h2>
          <p>Seller Name: <%=book.name%></p>
          <button type="button" class="btn btn-outline-dark"><a href="/items/<%=book._id%>" class="know">Know More</a></button>
        </div>
      </div>
    </div>
    <%})%>
  </div>




</section>
<%- include("partials/footer") -%>>
